body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

.bg-dark {
    background-color: rgb(96, 96, 96);
}

.bg-gradient {
    background-image: linear-gradient(340deg, #0093E9,#924495);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.no-deco {
    text-decoration: none;
}

.text-dark {
    color: black;
}

.profile-default-thumb {
    display: flex;
    justify-content: center;
}

.profile-default-thumb>img {
    border-radius: 50%;
    max-width: 80px;
    height: auto;
    filter: opacity(.5);
}

.form-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #00000050;
    border-radius: 3px;
    min-width: 380px;
    
    padding: 20px 0px;
    padding: 20px 0px;
    align-self: center;
}
.form-container hr{
    width: 85%;
    border-color: #00000050;
}
.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    color: #FFFFFF95;
}
.footer-form>a{
    color: #FFFFFF95;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button-footer-container {
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 85%;
    align-self: center;
}
.btn{
    /* min-width: 100px; */
    min-height: 35px;
    border: none;
    background-color: #00000050;
    color: #FFFFFF80;
    border-radius: 3px;
    width: 100%;
}
.btn:hover{
    cursor:pointer;
    background-color: #00000087;
}
.input-group-login{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
}
.input-group-login>.input>input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 3px;
    color: #bbbbbb;
    text-align-last: start;
    border: none;
}
.input-group-login>.input>input::placeholder{
    color: #ffffff90;
    text-align: center;
}                                                                                                                                                                                                           
.input{
    display: flex;
    width: 100%;
    background-color: #00000080;
    border-radius: 3px;
}
.input input:-webkit-autofill,input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0000002e inset !important;
}
label{
    align-self: center;
    padding: 0 10px;
    color: #bbbbbb;
}
#showPassword{
    background-color: transparent;
    border: none;
    color: #bbbbbb;
}
#form{
    /* text-align: -webkit-center; */
    width: 85%;
    align-self: center;
}
#form span{
    color: rgb(239, 125, 125);
    font-size: 14px;
}